body {
    background-color: #F2F0EF;
    color: #4682B4;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h1 {
    color: #4682B4;
    font-size: 48px;
}

p {
    color: #9a9590;
    font-size: 18px;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
}


.banner {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #4682B4;
    padding: 10px;
}

.banner p {
    color: #F2F0EF;
    font-size: 14px;
    margin: 0;
}
.highlight {
    color: #F2F0EF;
    background-color: #4682B4;
    padding: 1px 1px;
}
